/* header */
#header-shift {
  transform: translate(0, -5rem);
}

#gallery-country {
  text-align: center;
}

/* back btn */
#back-icon {
  position: absolute;
  left: 3rem;
  top: 5rem;
  width: 3rem;
  z-index:1;
}

#back-icon-link {
  margin: 2rem;
  display: inline-block;
}

/* image viewer */
#img-viewer {
  background: black;
  width: 70%;
  margin: auto;
}

#img-viewer img {
  width: 100%;
}

#img-viewer-container {
  display: flex;
  align-items: center;
}

.switch-arrow {
  width: 10%;
}

.switch-arrow:hover {
  cursor: pointer;
}

#next-icon {
  transform: rotate(180deg);
}

#prev-icon {
  float: right;
}

/* img gallery */
#img-gallery-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: auto;
  width: 90%;
  padding-top: 5rem;
}

.gallery-img {
  flex: 1;
  width: 100%;
}
